
  %table.table.table-striped
    %tr
      %th="Email"
      %th="Accepted"
      %th="Waiting"
      %th="Delete"
    - users.each do |user|
      %tr
        %td=link_to user.email, user_path(user)
        %td=user.count_accepted
        %td=user.count_waiting
        %td=link_to 'Delete', user, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-default'
.paginate
  = will_paginate users, renderer: BootstrapPagination::Rails
