body {
  padding-top: 50px;
  background-color: #eee;
  padding: 3.75em 1.875em; /* 60px 30px */
}
#wrapper {
  margin: 0 auto;
  margin-top: 10px;
  #list {
    width: 100%;
    overflow: hidden;
    margin-bottom: -1.875em; /* 30px */
    -webkit-column-count: 3;
    -webkit-column-gap: 1.875em; /* 30px */
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 1.875em; /* 30px */
    -moz-column-fill: auto;
    column-count: 3;
    column-gap: 1.875em; /* 30px */
    column-fill: auto;
    .item {
      margin-bottom: 1.875em; /* 30px */
      -webkit-column-break-inside: avoid;
      -moz-column-break-inside: avoid;
      column-break-inside: avoid;
      page-break-inside: avoid;
    }
  }
}

@media screen and ( max-width: 1860px ) /* 640px */
{
  #list
  {
    -webkit-column-count: 2 !important;
    -webkit-column-gap: 0.938em !important; /* 15px */
    -moz-column-count: 2 !important;
    -moz-column-gap: 0.938em !important; /* 15px */
    column-count: 2 !important;
    column-gap: 0.938em !important; /* 15px */
  }

   .item
    {
      margin-bottom: 0.938em !important; /* 15px */
    }
}

@media screen and ( max-width: 1250px ) 
{
  #list
  {
    -webkit-column-count: auto !important;
    -moz-column-count: auto !important;
    column-count: auto !important;
  }
}

.fb-like {
  padding: 10px;
}
