.post,
.post-url{
  margin-bottom: 10px;
}

.paginate {
  text-align: center;
}
.post .btn-group {
  margin-bottom: 10px;
}
.comments {
  margin-top: 20px;
  text-align: center;
}
@-webkit-keyframes loaderSprite {
  from { background-position: 0px; } 
  to { background-position: -2000px; } 
} 
@-moz-keyframes loaderSprite { 
  from { background-position: 0px; } 
  to { background-position: -2000px; } 
} 
@keyframes loaderSprite { 
  from { background-position: 0px; } 
  to { background-position: -2000px; } 
} 
.loader { 
  width: 100px; 
  height: 100px; 
  background-image: image-url("sonic.png"); 
  -webkit-animation: loaderSprite 1s steps(20, end) infinite; 
  -moz-animation: loaderSprite 1s steps(20, end) infinite; 
  animation: loaderSprite 1s steps(20, end) infinite; 
} 
