- url = params[:id] ? post_url(post) : ' '
#fb-root
:javascript
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '#{ENV['FB_APP_ID']}',
      xfbml      : true,
      version    : 'v2.0'
    });
    var fb_like = function(url, html_element) {
      var get = $.get(url+'/fb_update', function(data){
        if(data && data.response){
          console.log(data.responseText);
        } else {
          console.log(data);
        }
      });    
    }
    FB.Event.subscribe('edge.create', fb_like);
    FB.Event.subscribe('edge.remove', fb_like);
    var fb_comment = function(response) {
        console.log("a");
        console.log(response);
        $.get('#{url}/fb_update');
    }
    FB.Event.subscribe('comment.create', fb_comment);
    FB.Event.subscribe('comment.remove', fb_comment);
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
